---
pagination:
  data: toots
  size: 1
  alias: toot

permalink: 'export/toots/{{ toot.guid | slugify }}.md'
---
--- {# Define front-matter to appear in output #}
layout: toot
tags: {{ toot.categories | dump | safe }}
date: {{ toot.isoDate }}
---
{{ toot.content | safe }}

- {{ toot.link }} at {{ toot.isoDate }}
