---
# Generate a directory of JSON files in export/toots/{TOOT_ID}.json
pagination:
  data: toots
  size: 1
  alias: toot

permalink: 'export/toots/{{ toot.guid | slugify }}.json'
---
{{ toot | toot_json }}
